<div>
    <h2 class="text-center mt-4 mb-5">Awesome Quotes to uplift your day.</h2>
</div>
<div class="quote_s">
    <div class="box1">
        <div text-center>
            <h3 class="text-center mt-2">Awesome Quotes</h3><br>
        </div>
        <div class="col-md-11 ml-5">
            <div *ngFor='let quote of quotes;let i = index'>
                <!-- <div appHighlight *ngIf='highVote()==quote.upvotes && quote.upvotes!=0'></div> -->
                <!-- <div appHighlight *ngIf="{{upvotes_}}>{{downvotes_}}"</div>></div> -->
                <blockquote>
                    &quot;{{quote.quote}} &quot;
                    <p><b><span>{{quote.author}}</span></b></p>
                </blockquote>
                <div>
                    <p class="dates">Posted: {{quote.inputDate | dateCount}} ago </p>
                    <!-- <button (click)='quoteDetails(i)' class="btn btn-primary">Quote Details</button> -->
                    <!-- <div class="mb-2">
                        <app-votes></app-votes>
                    </div> -->
                    <button (click)='quoteDetails(i)' class="btn btn-primary">Quote Details</button>
                </div>
                <br>
      
              <div *ngIf='quote.showDescription'>
                  <p>Added by: {{quote.addedBy}}</p>
                  <app-quote-detail  [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
                  <div class="mb-2">
                    <app-votes></app-votes>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box2">
        <div class="col-md-8">
            <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
        </div>
    </div>
</div>
 
 